@media (max-width: $min-desktop-width - 1) {
  .testimonials {
    .testimonial {
      &__icon {
        display: none;
      }
      blockquote {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
      }
    }
  }
}
