<div class='section about' id='about-us'>
  <div class='section__title'>
    What we do
  </div>
  <div class='section__subtitle'>
    story about us
  </div>
  <div class='section__line'></div>
  <div class='section__description'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>

  <div class='about__images'>
    <div class="image image__container">
      <div class="image--moveable">
        <img src="images/about_us_section/1.png" alt="Super team">
        <div class="gradient-content">
          <i class="fas fa-user-friends"></i>
          <h4 class="gradient-content__title">Super Team</h4>
        </div>
      </div>
    </div>
    <div class="image image__container">
      <div class="image--moveable">
        <img src="images/about_us_section/2.png" alt="Super team">
        <div class="gradient-content">
          <i class="fas fa-user-friends"></i>
          <h4 class="gradient-content__title">Super Team</h4>
        </div>
      </div>
    </div>
    <div class="image image__container">
      <div class="image--moveable">
        <img src="images/about_us_section/3.png" alt="Super team">
        <div class="gradient-content">
          <i class="fas fa-user-friends"></i>
          <h4 class="gradient-content__title">Super Team</h4>
        </div>
      </div>
    </div>
  </div>
</div>