<div class='section blog'>
  <div class='section__title'>
    Our stories
  </div>
  <div class='section__subtitle'>
    latest blog
  </div>
  <div class='section__line'></div>

  <div class='blog__articles'>
    <div class='blog__article article'>
      <div class='article__image'>
        <img src='images/blog_section/1.png' alt='1'>
        <div class='article__date'>
          <p>15</p>
          <span>Jan</span>
        </div>
      </div>
      <div class='article__title'>lorem ipsum dolor sit amet</div>
      <div class='article__text'>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <div class='article__footer'>
        <div class='article__views'>
          <i class="fas fa-eye"></i> 542
        </div>
        <div class='article__comments'>
          <i class="fas fa-comment-dots"></i> 17
        </div>
      </div>
    </div>
    <div class='blog__article article'>
      <div class='article__image'>
        <img src='images/blog_section/2.png' alt='2'>
        <div class='article__date'>
          <p>14</p>
          <span>Jan</span>
        </div>
      </div>
      <div class='article__title'>lorem ipsum dolor sit amet</div>
      <div class='article__text'>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <div class='article__footer'>
        <div class='article__views'>
          <i class="fas fa-eye"></i> 992
        </div>
        <div class='article__comments'>
          <i class="fas fa-comment-dots"></i> 42
        </div>
      </div>
    </div>
    <div class='blog__article article'>
      <div class='article__image'>
        <img src='images/blog_section/1.png' alt='1'>
        <div class='article__date'>
          <p>12</p>
          <span>Jan</span>
        </div>
      </div>
      <div class='article__title'>lorem ipsum dolor sit amet</div>
      <div class='article__text'>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <div class='article__footer'>
        <div class='article__views'>
          <i class="fas fa-eye"></i> 1560
        </div>
        <div class='article__comments'>
          <i class="fas fa-comment-dots"></i> 98
        </div>
      </div>
    </div>
  </div>
</div>
