<header class='header'>
  <div class='header__container'>
    <div class="header__slider slider js-header-slider">
      <img src="images/header-slider/slide-1.png" alt="slide 1" class="slider__item">
      <img src="images/header-slider/slide-2.jpg" alt="slide 2" class="slider__item">
      <img src="images/header-slider/slide-3.jpg" alt="slide 3" class="slider__item">
      <img src="images/header-slider/slide-4.jpg" alt="slide 4" class="slider__item">
    </div>
    <div class="section header__content">
      <div class="header__nav-container">
        <div class="header__logo">MoGo</div>
        <div class="header__nav-button js-toggle-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
        <nav class="header__nav nav">
          <a href="#about" class="nav__item">About</a>
          <a href="#service" class="nav__item">Service</a>
          <a href="#work" class="nav__item">Work</a>
          <a href="#blog" class="nav__item">Blog</a>
          <a href="#contact" class="nav__item">Contact</a>
          <a href="#" class="nav__item"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
          <a href="#" class="nav__item"><i class="fa fa-search" aria-hidden="true"></i></a>
        </nav>
      </div>
      <div class="header__text">
        <div class="header__text--secondary">Creative Template</div>
        <h2 class="header__text--primary">Welcome<br>to mogo</h2>
        <button class="header__button">Learn more</button>
      </div>
    </div>
  </div>
</header>
