<div class='section service' id='service'>
  <div class='section__title'>
    Service
  </div>
  <div class='section__subtitle'>
    what we do
  </div>
  <div class='section__line'></div>
  <div class='section__description'>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>

  <div class='service__image'>
    <img src="images/service_section/service.png" alt="service">
  </div>
</div>
