<div class='section work' id='work'>
  <div class='section__title'>
    We work with
  </div>
  <div class='section__subtitle'>
    amazing services
  </div>
  <div class='section__line'></div>
  <div class='work__technologies'>
    <div class='work__technology technology'>
      <div class='technology__icon'><i class="far fa-clock"></i></div>
      <div class='technology__descr-wrapper'>
        <div class='technology__name'>photography</div>
        <div class='technology__descr'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>
    <div class='work__technology technology'>
      <div class='technology__icon'><i class="far fa-image"></i></div>
      <div class='technology__descr-wrapper'>
        <div class='technology__name'>web design</div>
        <div class='technology__descr'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>
    <div class='work__technology technology'>
      <div class='technology__icon'><i class="fas fa-desktop"></i></div>
      <div class='technology__descr-wrapper'>
        <div class='technology__name'>creativity</div>
        <div class='technology__descr'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>
    <div class='work__technology technology'>
      <div class='technology__icon'><i class="fas fa-book-open"></i></div>
      <div class='technology__descr-wrapper'>
        <div class='technology__name'>seo</div>
        <div class='technology__descr'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>
    <div class='work__technology technology'>
      <div class='technology__icon'><i class="fas fa-home"></i></div>
      <div class='technology__descr-wrapper'>
        <div class='technology__name'>css/html</div>
        <div class='technology__descr'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>
    <div class='work__technology technology'>
      <div class='technology__icon'><i class="fas fa-vector-square"></i></i></div>
      <div class='technology__descr-wrapper'>
        <div class='technology__name'>digital</div>
        <div class='technology__descr'>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
      </div>
    </div>
  </div>
</div>
