.image {
  background-color: $color-green-riptide;
  position: relative;
  &:hover {
    & .image--moveable {
      transform: translate(-10px,-10px);
      transition: 0.5s ease-out;
    }
  }

  &--moveable img {
    width: 100%;
    height: 100%;
  }

  & .gradient-content {
    color: white;
    display: none;
    position: absolute;
    font-size: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( 0deg, transparentize($color-yellow-vis, 0.1) 0%, transparentize($color-light-coral, 0.1) 100%);

    &__title {
      margin-top: 5px;
      font-family: $font-montserrat;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    &__subtitle {
      font-family: $font-montserrat;
      font-style: italic;
      margin-bottom: 0;
    }
    &__icons {
      a {
        color: $color-light-coral;
        background-color: $color-yellow-vis;
        text-decoration: none;
        height: 2rem;
        width: 2rem;
        float: left;
        line-height: 2rem;
        font-size: 1rem;
        text-align: center;
      }
      a:hover{
        color: $color-white;
        background-color: $color-light-coral;
      }
    }
  }

  & .image--moveable:hover .gradient-content, &.image__container:hover .gradient-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
