// Color Variables
$color-light-coral: #f38181;
$color-yellow-vis: #fce38a;
$color-snow-flurry: #eaffd0;
$color-green-riptide: #95e1d3;


// Font Variables
$font-cursive: Kaushan Script, cursive;
$font-montserrat : Montserrat,sans-serif;

//responsive width
$max-phone-width:    425px;
$min-tablet-width:   768px;
$min-desktop-width:  992px;
$min-laptop-width:   1024px;
$huge-desktop-width: 2560px;
