// Color Variables
$color-light-coral: #f38181;
$color-yellow-vis: #fce38a;
$color-snow-flurry: #eaffd0;
$color-green-riptide: #95e1d3;


// Font Variables
$font-cursive: Kaushan Script, cursive;
$font-montserrat : Montserrat,sans-serif;
