*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent; }

@-ms-viewport {
  width: device-width; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: 0 !important; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: 0.5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

[hidden] {
  display: none !important; }

html {
  font-size: 10px; }

.section {
  width: 100%;
  margin: auto;
  font: Roboto; }
  .section__title {
    font-family: Kaushan Script, cursive;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 4rem 0 0 0;
    text-align: center; }
  .section__subtitle {
    font: 1.3rem Montserrat, sans-serif;
    font-weight: bold;
    margin: 0.7rem 0 1.5rem 0;
    text-transform: uppercase;
    text-align: center; }
  .section__line {
    background-color: #f38181;
    width: 5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto; }
  .section__description {
    font-size: 0.8rem;
    margin: 1.7rem 0 0 0;
    color: #999;
    line-height: 1rem;
    text-align: center; }

.image {
  background-color: #95e1d3; }
  .image:hover .image--moveable {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
    -webkit-transition: 0.5s ease-out;
    transition: 0.5s ease-out; }
  .image--moveable img {
    width: 100%;
    height: 100%; }
  .image .gradient-content {
    color: white;
    display: none;
    position: absolute;
    font-size: 1rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%); }
    .image .gradient-content__title {
      margin-top: 5px;
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      text-transform: uppercase; }
  .image .image--moveable:hover .gradient-content, .image .image__container:hover .gradient-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

.header__container {
  position: relative;
  height: 100vh;
  color: #fff; }

.header__slider {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1; }
  .header__slider:after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
    background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%); }
  .header__slider .slider__item {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }

.header__content {
  position: relative;
  top: 30px; }

.header__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.header__logo {
  font: 1rem Montserrat, sans-serif;
  font-weight: bold;
  cursor: default; }

.header__nav-button {
  display: none; }

.header__nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__nav a {
    color: #fff;
    text-decoration: none; }

.header .nav__item {
  font: 0.6rem Montserrat, sans-serif;
  text-transform: uppercase;
  margin-left: 50px;
  position: relative; }
  .header .nav__item:hover {
    color: #fce38a; }
    .header .nav__item:hover:after {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }
  .header .nav__item:after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    background-color: #fce38a;
    right: 0;
    bottom: -10px;
    -webkit-transition: 0.3s -webkit-transform;
    transition: 0.3s -webkit-transform;
    transition: 0.3s transform;
    transition: 0.3s transform, 0.3s -webkit-transform;
    -webkit-transform-origin: center;
            transform-origin: center; }

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(50%, 25%);
          transform: translate(50%, 25%);
  top: 50%;
  right: 50%; }
  .header__text--secondary {
    font: 3rem Kaushan Script, cursive; }
  .header__text--primary {
    font: 5.5rem bold Montserrat, sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 4.7rem;
    margin-top: 1rem;
    margin-bottom: 10rem; }
    .header__text--primary:after {
      position: absolute;
      display: block;
      height: 0.2rem;
      width: 4rem;
      background-color: #fff;
      bottom: 5rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      content: ""; }

.header__button {
  text-transform: uppercase;
  border: 0.2rem solid #fff;
  height: 3rem;
  padding: 0 3rem;
  color: #fff;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header__button:hover {
    color: #fce38a;
    background-color: #fff; }

.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.about .image__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  height: 100%; }

.counter {
  background-color: #95e1d3;
  margin-bottom: 4rem; }
  .counter__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 !important; }
  .counter__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    padding: 2rem 1rem;
    color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    border-right: 1px solid #fff; }
  .counter__item:first-child {
    border-left: 1px solid #fff; }
  .counter__number {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold; }
  .counter__title {
    font-size: .5rem; }

.work__technologies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.7rem;
  margin-top: 2rem; }

.work__technology {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.work .technology {
  width: 200px;
  margin-bottom: 1rem; }
  .work .technology__icon {
    color: #95e1d3;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
            flex: 0 0 15%;
    font-size: 1.5rem; }
  .work .technology__descr-wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
    padding: 0.5rem 1rem; }
  .work .technology__name {
    text-transform: uppercase;
    padding-bottom: 0.5rem; }
  .work .technology__descr {
    color: #999; }

.work .technology:nth-child(-n+3) {
  border-bottom: 1px solid rgba(153, 153, 153, 0.4); }

@media (max-width: 425px) {
  html {
    font-size: 12px; }
  .section {
    max-width: 425px;
    padding-bottom: 4rem; }
    .section__title {
      font-family: Kaushan Script, cursive;
      font-size: 2rem; }
    .section__subtitle {
      font: 2rem Montserrat, sans-serif;
      font-weight: bold; }
    .section__line {
      width: 10rem;
      height: 0.4rem; }
    .section__description {
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 0 1rem; } }

@media (min-width: 768px) {
  html {
    font-size: 14px; }
  .section {
    max-width: 700px;
    padding: 0 1.5rem 4rem; } }

@media (min-width: 992px) {
  html {
    font-size: 24px; }
  .section {
    max-width: 900px;
    padding: 0 2rem 4rem 2rem; } }

@media (min-width: 1024px) {
  html {
    font-size: 26px; }
  .section {
    max-width: 1200px;
    padding: 0 2rem 4rem 2rem; } }

@media (min-width: 2560px) {
  html {
    font-size: 50px; }
  .section {
    max-width: 1600px;
    padding: 0 2rem 4rem 2rem; } }

@media (min-width: 768px) and (max-width: 992px) {
  .header .nav__item {
    font-size: 1rem; } }

@media (max-width: 767px) {
  .header__content {
    top: 0; }
  .header__nav-container {
    position: absolute;
    height: 50px;
    width: 100%;
    z-index: 999; }
    .header__nav-container .nav {
      display: none; }
    .header__nav-container--opened {
      height: 100vh; }
      .header__nav-container--opened .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
  .header__logo {
    display: block;
    margin: 10px;
    position: absolute;
    font-size: 20px; }
  .header__nav-button {
    display: block;
    margin: 10px;
    position: absolute;
    right: 0;
    font-size: 20px; }
  .header .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding-top: 100px; }
    .header .nav__item {
      width: 100%;
      font-size: 2rem;
      margin-top: 20px;
      margin-left: 0; }
  .header__text--secondary {
    font: 2rem Kaushan Script, cursive; }
  .header__text--primary {
    font: 4.5rem bold Montserrat, sans-serif; } }

@media (min-width: 992px) {
  .header__text--secondary {
    font: 1.5rem Kaushan Script, cursive; }
  .header__text--primary {
    font: 2.5rem bold Montserrat, sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem; }
  .header__button {
    height: 1.5rem;
    padding: 0 1.5rem;
    font-size: 0.5rem;
    border: 0.1rem solid #fff; } }

@media (max-width: 991px) {
  .about__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem; }
  .about .image__container {
    width: 100%;
    margin-bottom: 2rem; } }

@media (max-width: 991px) {
  .counter__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .counter__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1;
            flex: 0 0 1;
    border-bottom: 1px solid #fff;
    border-right: 0; }
  .counter__item:first-child {
    border-top: 1px solid #fff;
    border-left: 0; }
  .counter__number {
    font-size: 6rem;
    line-height: 6rem; }
  .counter__title {
    font-size: 1rem; } }

@media (max-width: 767px) {
  .work__technologies {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .work__technology {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1;
            flex: 0 0 1; }
  .work .technology {
    width: 100%;
    padding: 0 1rem; }
    .work .technology__icon {
      font-size: 5rem; }
    .work .technology__descr-wrapper {
      padding: 1rem 2rem; }
    .work .technology__name {
      font-size: 2rem;
      padding-bottom: 1rem; }
    .work .technology__descr {
      font-size: 2rem; }
  .work .technology:nth-child(-n+5) {
    border-bottom: 1px solid rgba(153, 153, 153, 0.4); } }

@media (min-width: 768px) and (max-width: 991px) {
  .work__technology {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
  .work .technology__icon {
    font-size: 2.5rem; }
  .work .technology__descr-wrapper {
    padding: 1rem 2rem; }
  .work .technology__name {
    font-size: 1rem;
    padding-bottom: 1rem; }
  .work .technology__descr {
    font-size: 1rem; }
  .work .technology:nth-child(-n+4) {
    border-bottom: 1px solid rgba(153, 153, 153, 0.4); } }
