html {
  font-size: 10px;
}

.section {
  width: 100%;
  margin: auto;
  font-family: $font-roboto;
  &__title {
    font-family: $font-cursive;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 4rem 0 0 0;
    text-align: center;
  }
  &__subtitle {
    font: 1.3rem $font-montserrat;
    font-weight: bold;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
    text-align: center;
  }
  &__line {
    background-color: $color-light-coral;
    width: 5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
  }
  &__description {
    font-size: 0.8rem;
    margin: 1.7rem 0 0 0;
    color: $color-grey;
    line-height: 1rem;
    text-align: center;
  }
}
